h5 {
  font-weight: 700;
}

a {
  text-decoration: none;

  &:not([href]):hover {
    text-decoration: none;
  }

  &[href]:hover {
    text-decoration: underline;
  }
}

.container {
  margin: 0;
  padding: 15px;
}

.center {
  text-align: center;
}

input[type='radio'] ~ label {
  margin-left: 10px;
  font-weight: normal;
}

.images {
  display: block;
  overflow-x: hidden;
  text-align: center;

  .imageContainer {
    display: inline-block;
    text-align: center;
    margin: 0 14px 20px;
    width: 150px;
    // height: 210px;

    .imageItem {
      border-radius: 3px;
      margin-bottom: 22px;
      height: calc(100% - 17px);
      display: flex;
      flex-flow: column;
      justify-content: center;

      img {
        // border-radius: 3px;
        // margin-bottom: 5px;
        // height: calc(100% - 17px);
        max-width: 100%;
        max-height: 210px;
      }
    }

    .counter {
      font-family: 'Muli', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #0a0a0a;
      margin-bottom: 6px;
    }

    .percentages {
      font-family: 'Muli', sans-serif;
      font-size: 12px;
      font-weight: 300;
      color: #969799;
    }
  }
}
